<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 portfolio-box">
            <ul class="text-left product-portfolio fadeRight">
                <li class="portfolio-menu-head"><i class="fa fa-bars"></i><span>&nbsp; Danh mục sản phẩm</span><p></p>
                </li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/collections/Lop-Advance-Samson-1"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Ftire-logo.png?alt=media&amp;token=8cafee0f-7fa1-456e-ba91-cecdfa159b85" alt=""></span> Lốp xe tải </a></li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/collections/Xe-tai-dau-keo-xe-ben-2"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Ftruck-logo.png?alt=media&amp;token=8b007a12-e338-4638-8c8b-8d458e9334e5" alt=""></span> Xe tải - Đầu kéo - Xe ben</a>
                </li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/collections/So-mi-ro-mooc-24"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Ftrailer.png?alt=media&amp;token=a50a9d20-e07f-42df-af5f-3b5102b75d6c" alt=""></span> Sơ mi rơ móoc</a>
                </li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/collections/Phu-tung-o-to-3"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Ftool-logo.png?alt=media&amp;token=1ba08dd4-53ce-41c8-899c-c67f37662b8d" alt=""></span> Phụ tùng ô tô</a></li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/collections/Dau-nhot-4"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Foil-logo.png?alt=media&amp;token=bcb2ff44-3ef3-4720-89b9-a945d8d5966c" alt=""></span> Dầu nhớt</a></li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/discount"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Fdiscount.png?alt=media&amp;token=733634f6-02fc-4883-a765-a6e360b4bb66" alt=""></span> Khuyến mãi</a></li>
                <li class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link smooth" href="/service"><span class="menu-icon"> <img width="20px" height="20px" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/icon%2Fservice.png?alt=media&amp;token=672d131c-bc39-41ea-aa5a-ee0b3250eea6" alt=""></span> Dịch vụ bảo dưỡng</a></li>

            </ul>
        </div>

        <div style="height: 450px;border: 2px solid black;" class="col-md-9">
            <div class="multiple-items">
                <div class="item">
                    <img width="100%" src="https://picsum.photos/1000/300" alt="">
                </div>
                <div class="item">
                    <img width="100%" src="https://picsum.photos/1000/300" alt="">
                </div>
                <div class="item">
                    <img width="100%" src="https://picsum.photos/1000/300" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="parent-center">
            <h1>-------- Sản phẩm nổi bật -------- </h1>
        </div>

        <div style="height: 450px" class="row px-0">
            {{!-- {{#each data}} --}}
            <div class="col-md-4">
                <div class="product-img">
                    <img width="100%" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="product-info">
                    <a class="product-title" href="#">Nike Force One</a>
                    <span style="text-decoration:line-through; color: grey">2.500.000đ</span>
                    <span>1.900.000đ</span>

                    <div class="cart text-center">
                        <a href="">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-img">
                    <img width="100%" height="300px" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="product-info">
                    <a class="product-title" href="#">Nike Force One</a>
                    <span style="text-decoration:line-through; color: grey">2.500.000đ</span>
                    {{!-- <span>1.900.000đ</span> --}}
                    <span style="width: 30px; height:30px; 
                    background-color: blue" class="option1"></span>
                    <span style="width: 30px; height:30px;
                    background-color: red;"  class="option2"></span>
                    {{!-- <div class="cart text-center">
                        <a href="">Thêm vào giỏ</a>
                    </div> --}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-img">
                    <img width="100%" src="https://picsum.photos/400/300" alt="">
                </div>
                <div class="product-info">
                    <a class="product-title" href="#">Nike Force One</a>
                    <span style="text-decoration:line-through; color: grey">2.500.000đ</span>
                    <span>1.900.000đ</span>

                    <div class="cart text-center">
                        <a href="">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
            {{!-- {{/each}} --}}
            
        </div>
    </div>
</div>

<script>

    $('.option1').click(function() {
        let image = $(this).parent().siblings('.product-img').children('img');
        image.attr('src', 'https://dictionary.cambridge.org/vi/images/thumb/flower_noun_002_14403.jpg?version=5.0.250')
    })
    $('.option2').click(function() {
        let image = $(this).parent().siblings('.product-img').children('img');
        image.attr('src', 'https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg')
    })
 
</script>

